body {
  background-color: Dodgerblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container_row {
  flex-direction: row;
  justify-content: space-around;
}

.black {
  color: black;
}
